
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


/**
 * Zeeshan Tanveer
 * Payment
 */

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

#payment-form_id{
    margin-top: 80px;
    margin-bottom: 80px;
}

#success-message
{
    font-size: 38px;
    font-weight: 700;
    color: #058400;
    line-height: 48px;
}

#success-details
{
    color: #000;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: center;
}

#account-activation-message
{
    font-size: 38px;
    font-weight: 700;
    color: #058400;
    line-height: 48px;
}

#account-activation-detail
{
    color: #000;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: center;
}
#company-country
{
    padding-left: 50px;
    color: #989898	;
}
#company-province
{
    padding-left: 50px;
    color: #989898;
}
#company-city
{
    padding-left: 50px;
    color: #989898;
}
#message
{
    margin-top: 30px;
}
#first-name-has-error
{
    margin-top: -20px;
}
#user-email-has-error
{
    margin-top: -20px;
}
